@font-face {
    font-family: head;
    src: url(./GeneralSans-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: head;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #000;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: gray;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

#minicircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    opacity: 0;
    transition: all cubic-bezier(0.3, 1, 0.3, 1) 0.5s;
}

#main {
    background: #000;
    width: 100%;
    overflow: hidden;
}


/* home page */
#hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#navbar {
    width: 100%;
    height: 80px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 3vw;
}

#navbar h1 {
    font-size: 1.6vw;
    opacity: 0.9;
}

#navbar h1 a {
    color: #ffff;
    text-decoration: none;
}

#navbar h1 a:hover {
    cursor: pointer;
}

#content {
    color: #ffff;
    margin-top: 4.7vw;
    padding: 2vw 3vw;
}

/* for animation */
.animationdiv {
    overflow: hidden;
}

#content-box1 h1 {
    opacity: 0.7;
    font-size: 8vw;
    margin-bottom: 0.1vw;
    font-weight: 200;

}

#content-box2 {
    width: fit-content;
    margin-left: 10vw;
    text-align: end;
}


#content-box2 h1 {
    opacity: 0.7;
    font-weight: 400;

    font-size: 8vw;
}

#content-box2 h5 {
    opacity: 0.7;
    font-size: 1.2vw;
}

#contentdata {
    margin-top: 2vw;
    color: #ffff;
    opacity: 0.7;
    text-align: end;
    padding-right: 3vw;
}

#herofooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    margin-top: 4vw;
}

#herofooter a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
}

.circle {
    background: #ffff;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconset {
    display: flex;
    gap: 9px;
}



/* page2 */

#page2 {
    width: 100%;
    margin-top: 7vw;
    height: 100vh;
    padding: 8vw 3vw;
    color: #ffff;

}

.elem {
    border-top: 0.1px solid #dadada58;
    /* height: 26vh; */
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 1vw;
    position: relative;
}

.elem a {
    position: absolute;
    cursor: pointer;
    width: fit-content;
    height: 150%;
    width: 30vw;
    opacity: 0;
}

.elem a img {
    z-index: 999;
    height: 100%;
    width: 100%;
    object-fit: fill;
    opacity: 1;
    border-radius: 20px;
}

.elem h1 {
    opacity: 0.8;
    font-size: 5.7vw;
}


.elem h5 {
    opacity: 0.8;
    font-size: 1.4vw;

}

.elelast {
    border-bottom: 0.1px solid #dadada58;
}

.elem a img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


/* about section */
#aboutsection {
    color: #ffff;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    padding: 0vw 3vw;
    width: 100%;
    align-items: center;
    position: relative;
    height: 85vh;
    margin-top: 6vh;
}

#aboutdata {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 40%;
    opacity: 0.8;
    padding: 0vw 3vw;
}

#aboutdata a {
    color: #ffff;
    text-decoration: none;
    width: fit-content;
    padding: 8px;
    border: 1px solid #dadada;
    border-radius: 31px;

}

#aboutdata a:hover {
    color: #000;
    background: #ffff;
    scale: 1.5;
    cursor: pointer;
}

#aboutsection img {
    height: 260px;
    width: 260px;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
}

/* footer secton */
#footer {
    position: absolute;
    bottom: 0.6vh;
    display: flex;
    color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 3vw;
    margin-bottom: 1.4vw;
    width: 100%;
}


#footeranchor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

#footeranchor a {
    color: #ffff;
    opacity: 0.8;
    font-size: 2vw;
    text-decoration: none;
}

#footeranchor a:hover {
    opacity: 1;
    scale: 1.4;
}

#footerinitialdata {
    display: flex;
    gap: 51px;

}